[Unit]
Description=Gunicorn instance to serve api_server
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/cryptohypetrader
Environment="PATH=/root/cryptohypetrader/cryptohypetraderenv/bin"
ExecStart=/root/cryptohypetrader/cryptohypetraderenv/bin/gunicorn --log-file /root/gunicornlog --workers 3 --bind 127.0.0.1:5000 -m 777 wsgi:app

[Install]
WantedBy=multi-user.target