<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
<div id="vueApp">
    <v-app>
        <v-content>
            <v-tabs>
                <v-tabs-bar class="cyan" dark>
                    <v-tabs-item href="#tableTab" ripple>Coin List</v-tabs-item>
                    <v-tabs-item href="#detailTab" ripple @click="tabClicked()">Coin Detail</v-tabs-item>
                    <v-tabs-slider color="yellow"></v-tabs-slider>
                </v-tabs-bar>

                <v-tabs-items>
                    <v-tabs-content id="tableTab">
                        <v-card flat>
                            <v-card-title>
                                <v-spacer></v-spacer>
                                <v-text-field append-icon="search" label="Search" single-line hide-details
                                              v-model="search"></v-text-field>
                            </v-card-title>

                            <v-data-table v-bind:headers="headers"
                                          v-bind:search="search"
                                          v-bind:pagination.sync="pagination"
                                          v-bind:items="items"
                                          v-model="selected"
                                          class="elevation-1"
                                          select-all>

                                <template slot="items" slot-scope="props">
                                    <td>
                                        <v-checkbox primary hide-details v-model="props.selected"></v-checkbox>
                                    </td>
                                    <td>{{ props.item.name }}</td>
                                    <td>{{ props.item.symbol }}</td>
                                    <td>{{ props.item.price | currency}}</td>
                                    <td>{{ props.item.market_cap | currency}}</td>
                                    <td>{{ props.item.reddit_growth.h2}}</td>
                                    <td>{{ props.item.reddit_growth.h2_pct | percent}}</td>
                                    <td>{{ props.item.reddit_growth.h6}}</td>
                                    <td>{{ props.item.reddit_growth.h6_pct | percent}}</td>
                                    <td>{{ props.item.reddit_growth.d1}}</td>
                                    <td>{{ props.item.reddit_growth.d1_pct | percent}}</td>
                                    <td>{{ props.item.reddit_growth.d3}}</td>
                                    <td>{{ props.item.reddit_growth.d3_pct | percent}}</td>
                                    <td>{{ props.item.reddit_growth.d5}}</td>
                                    <td>{{ props.item.reddit_growth.d5_pct | percent}}</td>
                                    <td>{{ props.item.cmc_id }}</td>
                                    <td>{{ props.item.cc_id }}</td>
                                    <td>{{ props.item.subreddit }}</td>
                                    <td>{{ props.item.twitter }}</td>
                                    <td>{{ props.item.btctalk_ann }}</td>
                                </template>
                            </v-data-table>
                        </v-card>
                    </v-tabs-content>
                    <v-tabs-content id="detailTab">
                        <template>
                            <div id="priceChart">
                        </template>
                    </v-tabs-content>
                </v-tabs-items>
            </v-tabs>
        </v-content>
    </v-app>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<script src="util.js"></script>
<script src="coins.js"></script>
</body>
</html>
